// Globals

html {
  font-size: 62.5%; //REM Reset
}


// Buttons 

// Search Buttom

.search-buttom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4rem;
  background-color: $color-tertiary;
  @include font-style($gotham-rounded, $fontsize-s, $color-secundary);

  @media (min-width: $media-lg) {
    height: 6rem;
    font-size: $fontsize-m;
  }

}

// Carousel buttons

.btn-custom {
  @include btn-main($color-primary, $color-light, $fontsize-s, $helvetica-medium);
  border: 1px solid $color-tertiary;

  &:hover {
    background-color: darken($color-primary, 10%);

  }
}

.btn-prev {
  left: -150px;
  opacity: 0.8;
}

.btn-next {
  right: -150px;
  opacity: 0.8;
}

.carousel-btn {
  background-color: darken($color-primary, 5%);
  border-radius: 50px;
  color: $color-light;
  font-size: $fontsize-xl;
}

.carousel-btn-dark {
  font-size: $fontsize-xl;
  color: $color-dark;
}

.btn-prev-product {
  left: -65px;
  opacity: 0.8;
  width: 6.5rem;
}

.btn-next-product {
  right: -65px;
  opacity: 0.8;
  width: 6.5rem;
}


// Product buttoms

.btn-info {
  color: $color-secundary;
  background-color: $color-light;
  border-color: $color-secundary;
  border-radius: 0;

  &:hover,
  &:focus {
    background-color: $color-primary;
  }
}

// Footer buttoms 

.lenguage-btn {
  div {
    margin-top: auto;
    margin-bottom: auto;
  }

  h3 {
    @include font-style($helvetica-bold, $fontsize-s, $color-primary);
  }

  button {
    @include font-style($helvetica-medium, $fontsize-xs, $color-secundary);
    border-color: $color-secundary;
    width: 12rem;

    &:hover {
      color: $color-primary;
      border-color: $color-primary;
    }
  }
}