// Colors

$color-primary: #d35266;
$color-secundary: #888;
$color-tertiary: #383838;

// Fonts

$gotham-bold: "Gotham Bold";
$gotham-rounded: "Gotham Rounded Light";
$helvetica-light: "Helvetica Neue Light";
$helvetica-medium: "Helvetica Neue Medium";
$helvetica-bold: "Helvetica Neue Bold";

// Font Sizes

$fontsize-m: 1.8rem;
$fontsize-l: 4rem;
