/* stylelint-disable */

// Colors

$color-primary: #d35266;
$color-secundary: #888;
$color-tertiary: #383838;
$color-light: #fff;
$color-dark: #000;

// Fonts

$gotham-bold: "Gotham Bold";
$gotham-rounded: "Gotham Rounded Light";
$helvetica-light: "Helvetica Neue Light";
$helvetica-medium: "Helvetica Neue Medium";
$helvetica-bold: "Helvetica Neue Bold";

// Font Sizes

$fontsize-xxs: 1rem;
$fontsize-xs: 1.4rem;
$fontsize-s: 1.8rem;
$fontsize-m: 2.4rem;
$fontsize-l: 3.6rem;
$fontsize-xl: 4.6rem;
$fontsize-xxl: 6rem;

// Custom Width

$w-70: 70%;
$w-80: 85%;

// Misc

$zindex1: 1;
$height35: 35rem;
$height40: 40rem;

// Media Queries

$media-sm: 425px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1440px;