// fonts
@import "fonts";

// Variables
@import "variables";

// Globals

html {
  font-size: 62.5%; //REM Reset
}

// -------

// Navigation

.nav-container {
  background-color: $color-tertiary;
}

.header-nav {
  ul {
    li {
      .logo {
        color: $color-primary;
        font-size: $fontsize-l;
      }

      .navbar-brand {
        font-family: $gotham-bold;
      }

      a {
        font-size: $fontsize-m;
        font-family: $gotham-rounded;
        color: $color-secundary;
      }

      .ad-nav {
        color: #000;
      }
    }
  }
}

.hero-container {
  background-color: $color-primary;
}

h1 {
  font-size: 10rem;
  font-family: $gotham-bold;
  color: $color-primary;
}

h2 {
  font-family: $gotham-rounded;
  color: $color-secundary;
}
