// Variables
@import "variables";

// Mixins
@import "mixins";

// fonts
@import "fonts";

// Globals

@import "globals";

// Search page Styles 

@import "search-style";

// -------

// Header

.nav-container {
  background-color: $color-tertiary;
  z-index: -1;
}

.header-nav {
  width: 100%;

  @media (min-width: $media-lg) {
    width: auto;
  }

  li {
    .logo {
      color: $color-primary;
      font-size: $fontsize-l;

      @media (min-width: $media-md) {
        font-size: $fontsize-xl;
      }
    }

    .navbar-brand {
      @include font-style($gotham-bold, $fontsize-s, $color-light);
      @include spacing(-2.5px);

      @media (min-width: $media-md) {
        font-size: $fontsize-m;
      }
    }

    a {
      @include font-style($gotham-rounded, $fontsize-xxs, $color-secundary);

      &:hover {
        color: $color-primary;
      }

      @media (min-width: $media-md) {
        font-size: $fontsize-xs;
      }

    }

    .ad-nav {
      background-color: $color-primary;
    }
  }
}

// Hero

.hero-container {
  background-color: $color-primary;
  height: 40rem;
  z-index: -1;

  @media (min-width: $media-md) {
    height: 35rem;
  }

  @media (min-width: $media-lg) {
    height: 40rem;
  }

  &::before {
    height: 0;
    position: absolute;
    top: 40px;
    left: -216px;
    content: "\f11b";
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-family: 'FontAwesome';
    font-size: 37rem;
    -webkit-transform: rotate(-45deg);
    color: rgba(56, 56, 56, 0.2);
    z-index: 0;

    @media (min-width: $media-md) {
      top: 45px;
      font-size: 34rem;
    }

    @media (min-width: $media-lg) {
      font-size: 39rem;
    }
  }

  .page-title {
    z-index: $zindex1;

    h1 {
      @include font-style($gotham-bold, $fontsize-xl, $color-light);
      text-align: center;

      span {
        @include spacing(-8px);
      }

      @media (min-width: $media-md) {
        font-size: 7rem;
      }

      @media (min-width: $media-lg) {
        font-size: 9rem;
      }
    }

    h3 {
      @include font-style($gotham-rounded, $fontsize-xs, $color-light);

      @media (min-width: $media-md) {
        font-size: $fontsize-s;
      }

      @media (min-width: $media-lg) {
        font-size: $fontsize-s;
      }
    }
  }

  .hero-search {
    z-index: 1;
    width: $w-70;

    @media (min-width: $media-md) {
      width: 90%;
    }

    @media (min-width: $media-lg) {
      width: 80%;
    }
  }

  .form-content {
    height: 4rem;
    border-radius: 0;
    @include font-style($gotham-rounded, $fontsize-s, $color-secundary);

    @media (min-width: $media-lg) {
      height: 5rem;
    }
  }
}

// Main Section

// ------------

// Hot Adds Section

.ads-container {
  width: 75%;

  h2 {
    @include font-style($helvetica-medium, $fontsize-s, $color-secundary);

    @media (min-width: $media-xl) {
      font-size: $fontsize-m;
    }
  }

  .ad-cont {
    .adds-head {
      @include font-style($helvetica-medium, $fontsize-s, $color-primary);

      @media (min-width: $media-lg) {
        font-size: $fontsize-m;
      }
    }

    .ad-bod {
      @include font-style($helvetica-light, $fontsize-xs, $color-secundary);
      line-height: 1.2;

      @media (min-width: $media-lg) {
        font-size: $fontsize-s;
      }

      @media (min-width: $media-xl) {
        font-size: 2rem
      }

      span {
        @include font-style($helvetica-medium, $fontsize-xs, $color-tertiary);

        @media (min-width: $media-lg) {
          font-size: $fontsize-s;
        }
      }
    }


  }

}

// Products Section

.product-container {}

.product-title {

  h2 {
    @include font-style($helvetica-bold, $fontsize-xs, $color-tertiary);
    display: flex;
    align-items: center;
    ;

    i {
      font-size: $fontsize-m;
      color: $color-secundary;
      opacity: 0.7;
    }

    span {
      @include font-style($helvetica-medium, $fontsize-xxs, $color-secundary);
    }
  }

  a {
    @include font-style($helvetica-medium, $fontsize-xs, $color-primary);

    &:hover {
      color: darken($color-primary, 15%);
    }
  }
}

// Product Ads

.pr-content {
  h5 {
    @include font-style($helvetica-bold, $fontsize-xs, darken($color-secundary, 10%));
    overflow-y: hidden;
    height: 3rem;
  }

  p {
    @include font-style($helvetica-bold, $fontsize-xs, $color-primary);


  }

  .pr-text {
    @include font-style($helvetica-light, $fontsize-xxs, $color-tertiary);

    .location {
      color: $color-secundary;
    }

  }
}


//----------------

// Footer 

footer {
  .footer-info {
    i {
      font-size: 6.5rem;
      color: $color-secundary;
    }

    h3 {
      @include font-style($helvetica-medium, $fontsize-m, $color-secundary);
    }

    p {
      @include font-style($helvetica-medium, $fontsize-xs, $color-secundary);
    }
  }

  .footer-nav {
    .border-bottom {
      border-bottom-color: $color-primary !important; //Overwritting the !important rule in Bootstraps borders

      h3 {
        @include font-style($helvetica-medium, $fontsize-s, $color-primary);
      }
    }

    nav {
      a {
        @include font-style($helvetica-medium, $fontsize-xs, $color-secundary);

        i {
          font-size: $fontsize-s;
          color: $color-tertiary;
        }

        &:hover {
          color: $color-primary;
        }
      }


    }
  }

  .footer-copyright {
    p {
      @include font-style($helvetica-medium, $fontsize-xs, $color-secundary);
    }
  }
}